/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

.tabs {
    margin-top: 20px;
}

.nav-tabs .nav-link {
    font-size: 1rem;
    padding: 10px 15px;
}

.tab-content {
    margin-top: 20px;
}

.tab-pane {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Floating Action Button */
.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.fab {
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.fab:hover {
    background-color: #0056b3;
}

/* Modal Styles */
.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-header,
.modal-footer {
    background-color: #f8f9fa;
}

.modal-title {
    font-size: 1.25rem;
}

.checkbox-container {
    margin-top: 20px;
}

.checkbox-group {
    margin-bottom: 20px;
}

.custom-checkbox-grid {
    flex: 1 1 auto;
    /* Flex to occupy available space evenly */
    min-width: 100px;
    /* Minimum width to keep checkboxes readable */

    /* Ensure three checkboxes per row by default */
}

.custom-checkbox-grid input[type="checkbox"] {
    display: none;
}

.custom-checkbox-grid input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
    width: 130px;
}

.custom-checkbox-grid input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background: #fff;
    transition: background 0.3s;
}

.custom-checkbox-grid input[type="checkbox"]:checked+label::before {
    /* background: #007BFF; */
    border-color: #007BFF;
}

.custom-checkbox-grid input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: 2px solid #007BFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.grouping-section {
    background-color: #f8f9fa;
    /* Light gray background color */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Style for form checkboxes */
.form-check-label {
    font-size: 16px;
    margin-left: 5px;
}

.hidden {
    display: none;
}

.hidden-checkbox {
    display: none;
}

.accordion .card-header {
    padding: 0;
    border: none;
}

.btn-link {
    text-decoration: none;
    font-size: 16px;
}

.scrollable-container {
    display: inline-block;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 250px;
    overflow-y: auto;
    width: 100%;

}

/* Ensure the checkboxes remain in a row and expand evenly */
.form-check-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}



/*
Functoins
*/

.functions-checkbox-grid {
    flex: 1 1 auto;
    /* Flex to occupy available space evenly */
    min-width: 100px;
    /* Minimum width to keep checkboxes readable */
    max-width: calc(25% - 10px);
    /* Ensure three checkboxes per row by default */
}

.functions-checkbox-grid input[type="checkbox"] {
    display: none;
}

.functions-checkbox-grid input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
    width: 250px;
}

.functions-checkbox-grid input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background: #fff;
    transition: background 0.3s;
}

.functions-checkbox-grid input[type="checkbox"]:checked+label::before {
    /* background: #007BFF; */
    border-color: #007BFF;
}

.functions-checkbox-grid input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: 2px solid #007BFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Group By*/

.group-by-column-checkbox-grid {
    flex: 1 1 calc(20% - 10px);
    /* Occupy up to 20% of the row, adjusted for gap */
    min-width: 100px;
    max-width: 100px;
    /* Limit the max-width to prevent excessive growth */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centers content inside the checkbox container */
}

.group-by-column-checkbox-grid input[type="checkbox"] {
    display: none;
}

.group-by-column-checkbox-grid input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
    width: 90px;
}

.group-by-column-checkbox-grid input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background: #fff;
    transition: background 0.3s;
}

.group-by-column-checkbox-grid input[type="checkbox"]:checked+label::before {
    /* background: #007BFF; */
    border-color: #007BFF;
}

.group-by-column-checkbox-grid input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: 2px solid #007BFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {
    .functions-checkbox-grid {
        max-width: calc(33% - 10px);
        /* Ensure three checkboxes per row by default */
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-tabs {
        flex-wrap: wrap;
    }

    .nav-tabs .nav-item {
        width: 50%;
        text-align: center;
    }

    .fab-container {
        bottom: 15px;
        right: 15px;
    }

    .fab {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(50% - 10px);
        /* Two columns on smaller screens */
    }

    .functions-checkbox-grid {
        max-width: calc(50% - 10px);
        /* Ensure three checkboxes per row by default */
    }
}

@media (max-width: 576px) {
    .nav-tabs .nav-item {
        width: 100%;
    }

    .tab-pane {
        padding: 15px;
    }

    .fab {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }

    .fab-container {
        bottom: 10px;
        right: 10px;
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(50% - 10px);
    }

    .functions-checkbox-grid {
        max-width: calc(100% - 10px);
        /* Ensure three checkboxes per row by default */
    }
}