/* Responsive adjustments */
@media (max-width:1200px) {

    .functions-checkbox-grid {
        flex: 1 1 calc(25% - 10px);
        max-width: calc(100% - 10px);
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(25% - 10px);
    }
}

@media (max-width: 1000px) {

    .functions-checkbox-grid {
        flex: 1 1 calc(33% - 10px);
        max-width: calc(100% - 10px);
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(33% - 10px);
    }

    .nav-tabs {
        flex-wrap: wrap;
    }

    .nav-tabs .nav-item {
        width: 50%;
        text-align: center;
    }

    .search-form {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .functions-checkbox-grid {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(100% - 10px);
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(100% - 10px);
    }

    .nav-tabs {
        flex-wrap: wrap;
    }

    .nav-tabs .nav-item {
        width: 50%;
        text-align: center;
    }

    .search-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .nav-tabs .nav-item {
        width: 100%;
    }

    .tab-pane {
        padding: 15px;
    }

    .functions-checkbox-grid {
        flex: 1 1 calc(100% - 10px);
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(100% - 10px);
    }

    .search-form {
        width: 100%;
    }
}