/* Responsive adjustments */
@media (max-width:1200px) {

    .functions-checkbox-grid {
        flex: 1 1 calc(25% - 10px);
        max-width: calc(100% - 10px);
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(25% - 10px);
    }

    .table {
        font-size: 18px;
    }

    .table th,
    .table td {
        font-size: 18px;
        /* Adjust font size for smaller screens */
        padding: 6px;
        /* Reduce padding further on mobile */
    }
}

@media (max-width: 1000px) {

    .functions-checkbox-grid {
        flex: 1 1 calc(33% - 10px);
        max-width: calc(100% - 10px);
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(33% - 10px);
    }

    .nav-tabs {
        flex-wrap: wrap;
    }

    .nav-tabs .nav-item {
        width: 50%;
        text-align: center;
    }


    .table {
        font-size: 15px;
    }

    .table th,
    .table td {
        font-size: 15px;
        /* Adjust font size for smaller screens */
        padding: 6px;
        /* Reduce padding further on mobile */
    }
}

@media (max-width: 768px) {

    .functions-checkbox-grid {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(100% - 10px);
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(100% - 10px);
    }

    .nav-tabs {
        flex-wrap: wrap;
    }

    .nav-tabs .nav-item {
        width: 50%;
        text-align: center;
    }

    .table {
        font-size: 12px;
    }

    .table th,
    .table td {
        font-size: 12px;
        /* Adjust font size for smaller screens */
        padding: 5px;
        /* Reduce padding further on mobile */
    }
}

@media (max-width: 576px) {
    .nav-tabs .nav-item {
        width: 100%;
    }

    .tab-pane {
        padding: 15px;
    }

    .functions-checkbox-grid {
        flex: 1 1 calc(100% - 10px);
    }

    .custom-checkbox-grid {
        flex: 1 1 calc(100% - 10px);
    }

}