<div class="card good-price">
    <div class="top">
        <div class="info">
            <img src="../assets/images/arrow-green.png" height="48px" width="48px" />
            <div class="price-sec">
                <span class="dollar" style="font-size: small; color: green; font-weight: bold;">Save: €</span>
                <span class="price" style="font-size: small; color: green; font-weight: bold;"> $save_diff</span>
                <br>
                <span class="dollar" style="font-size: large; color: green; font-weight: bold;">- $discount</span>
            </div>
        </div>
    </div>

    <div class="info">
        <p>$title</p>
    </div>
    <div class="details">
        <div class="one">
            <span>
                <p style="text-align: left;">
                    <b>$make $model</b><br>
                    $year $engine $gearbox
                    <br>
                    ⛽ $consumption
                    <br>
                    🛣️🏃🏻⏱️ $mileage
                    <br>
                    🐎💪⚡ $power
                    <br>
                    📅 📣 $published
                </p>
            </span>
            <i class="fas fa-check"></i>
        </div>
        <div class="one">
            <span class="text-align: left;">
                <p style="text-align: left;">
                    $price_txt
                </p>
            </span>
            <i class="fas fa-check"></i>
        </div>
        <!-- <div class="one">
            <span class="equipment-container">
                <p style="text-align: left;">
                    <span class="equipment-preview">$equipment</span>
                </p>
                <div class="tooltip">
                    <span class="tooltiptext">$fullEquipment</span>
                </div>
            </span>
            <i class="fas fa-check"></i>
        </div> -->
        <div class="one">
            <div class="equipment-container">
                <p style="text-align: left;">
                    <span class="equipment-preview">$firstFourEquipment</span>
                </p>
                <div class="tooltipx">
                    <span class="tooltiptext">$fullEquipment</span>
                </div>
            </div>
            <i class="fas fa-check"></i>
            <!-- Other details -->
        </div>

        <button class="goButton" data-url="$url">🏃🚀 🛍️🛒Go for it</button>
    </div>
</div>