<div class="card high-price">
    <div class="top">
        <div class="info">
            <img src="../assets/images/arrow-red.png" height="48px" width="48px" />
            <div class="price-sec">
                <span class="dollar" style="font-size: large; color: #F44336; font-weight: bold;">€</span>
                <span class="price" style="font-size: large; color: #F44336; font-weight: bold;">$price</span>
            </div>
        </div>
    </div>

    <div class="info">
        <p>$title</p>
    </div>
    <div class="details">
        <div class="one">
            <span>
                <p style="text-align: left;">
                    <b>$make $model</b><br>
                    $year $engine $gearbox
                    <br>
                    $consumption
                </p>
            </span>

        </div>
        <div class="one">
            <span class="text-align: left;">
                <p style="text-align: left;">
                    <i style="color:red;">Estimated Price:</i> <b>$estimated_price</b>
                    <i style="color:red;">Save:</i> <b>€ $save_diff 🫰🏻💶 </b>
                    <i style="color:red;">Markup:</i> <b>$markup 🫰🏻💶 </b>
                </p>
            </span>

        </div>
        <div class="one">
            <span>
                <p style="text-align: left;">
                    $mileage
                    <br>
                    $power
                    <br>
                    $published
                </p>
            </span>
            <i class="fas fa-check"></i>
        </div>
        <div class="one">
            <span>
                <p style="text-align: left;">
                    $equipment
                </p>
            </span>
            <i class="fas fa-check"></i>
        </div>
        <button>🏃🚀 Go for it</button>
    </div>
</div>